# Copyright IBM Corp. 2022, 2026
# SPDX-License-Identifier: BUSL-1.1

# Dependabot config that checks version updates for go.mod packages and docker
# images, and also checks only for security updates for github actions.
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      gomod-breaking:
        update-types:
          - major
      gomod-backward-compatible:
        update-types:
          - minor
          - patch
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    # Disable version updates and only check security updates for github
    # actions, since we can't bump the versions until they're on our allow-list
    open-pull-requests-limit: 0
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
