# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# all .tfvars files
*tfvars*

# ignore anything under a scratch directory
**/scratch

# ignore anything under a Terraform state directory
**/state

# ignore the dist dir
/dist

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Crash log files
crash.log

# Controller
bin/*

.idea
*.png
build
.DS_Store
