{{- /*
# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0
*/ -}}

{{- if .Values.defaultAuthMethod.enabled }}
apiVersion: secrets.hashicorp.com/v1alpha1
kind: VaultAuth
metadata:
  name: default
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    component: controller-manager
    app.kubernetes.io/component: controller-manager
  {{- include "chart.labels" . | nindent 4 }}
spec:
  {{- if .Values.defaultAuthMethod.vaultConnectionRef }}
  vaultConnectionRef: {{ .Values.defaultAuthMethod.vaultConnectionRef }}
  {{- end }}
  namespace: {{ .Values.defaultAuthMethod.namespace }}
  method: {{ .Values.defaultAuthMethod.method }}
  mount: {{ .Values.defaultAuthMethod.mount }}
  kubernetes:
    role: {{ .Values.defaultAuthMethod.kubernetes.role }}
    serviceAccount: {{ .Values.defaultAuthMethod.kubernetes.serviceAccount }}
    {{- if .Values.defaultAuthMethod.kubernetes.tokenAudiences }}
    audiences: {{ .Values.defaultAuthMethod.kubernetes.tokenAudiences | toJson }}
    {{- end }}
  {{- if .Values.defaultAuthMethod.storageEncryption.enabled }}
  storageEncryption:
    keyName: {{ .Values.defaultAuthMethod.storageEncryption.keyName }}
    mount: {{ .Values.defaultAuthMethod.storageEncryption.mount }}
  {{- end }}
  {{- if .Values.defaultAuthMethod.headers }}
  headers:
    {{ tpl .Values.defaultAuthMethod.headers . | trim }}
  {{- end }}
  {{- if .Values.defaultAuthMethod.params }}
  params:
    {{ tpl .Values.defaultAuthMethod.params . | trim }}
  {{- end }}
{{- end }}
