{{/*
# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0
*/}}

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "chart.fullname" . }}-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "chart.labels" . | nindent 4 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-controller-manager
  namespace: {{ .Release.Namespace }}
  labels:
    control-plane: controller-manager
    app.kubernetes.io/component: controller-manager
  {{- include "chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.controller.replicas }}
  selector:
    matchLabels:
      control-plane: controller-manager
    {{- include "chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        control-plane: controller-manager
      {{- include "chart.selectorLabels" . | nindent 8 }}
      annotations:
        vso.secrets.hashicorp.com/pre-delete-hook-started: "false"
        vso.secrets.hashicorp.com/in-memory-vault-tokens-revoked: "false"
        kubectl.kubernetes.io/default-container: manager
      {{- if .Values.controller.annotations }}
        {{- toYaml .Values.controller.annotations | nindent 8 }}
      {{- end }}
    spec:
      containers:
      - name: kube-rbac-proxy
        args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=0
        env:
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ .Values.controller.kubernetesClusterDomain }}
        image: {{ .Values.controller.kubeRbacProxy.image.repository }}:{{ .Values.controller.kubeRbacProxy.image.tag }}
        ports:
        - containerPort: 8443
          name: https
          protocol: TCP
        resources: {{- toYaml .Values.controller.kubeRbacProxy.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
      - name: manager
        args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        {{- if .Values.controller.manager.clientCache.persistenceModel }}
        - --client-cache-persistence-model={{ .Values.controller.manager.clientCache.persistenceModel }}
        {{- end }}
        {{- if .Values.controller.manager.clientCache.cacheSize }}
        - --client-cache-size={{ .Values.controller.manager.clientCache.cacheSize }}
        {{- end }}
        {{- if .Values.controller.manager.clientCache.vaultTokenRevocationRequired }}
        - --vault-token-revocation-required
        {{- end }}
        {{- if .Values.controller.manager.maxConcurrentReconciles }}
        - --max-concurrent-reconciles-vds={{ .Values.controller.manager.maxConcurrentReconciles }}
        {{- end }}
        command:
        - /vault-secrets-operator
        env:
        - name: OPERATOR_DEPLOYMENT_NAME
          value: {{ include "chart.fullname" . }}-controller-manager
        - name: OPERATOR_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_POD_UID
          valueFrom:
            fieldRef:
              fieldPath: metadata.uid
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ .Values.controller.kubernetesClusterDomain }}
        image: {{ .Values.controller.manager.image.repository }}:{{ .Values.controller.manager.image.tag }}
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources: {{- toYaml .Values.controller.manager.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - mountPath: /var/run/podinfo
          name: podinfo
      securityContext:
        runAsNonRoot: true
      serviceAccountName: {{ include "chart.fullname" . }}-controller-manager
      terminationGracePeriodSeconds : {{ .Values.controller.terminationGracePeriodSeconds }}
      volumes:
      - downwardAPI:
          items:
          - fieldRef:
              fieldPath: metadata.name
            path: name
          - fieldRef:
              fieldPath: metadata.uid
            path: uid
          - fieldRef:
              fieldPath: metadata.annotations['vso.secrets.hashicorp.com/pre-delete-hook-started']
            path: pre-delete-hook-started
        name: podinfo
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "chart.fullname" . }}-pre-delete-controller-cleanup
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "chart.labels" . | nindent 4 }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-delete
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    metadata:
      name: {{ include "chart.fullname" . }}-pre-delete-controller-cleanup
    spec:
      serviceAccountName: {{ include "chart.fullname" . }}-controller-manager
      containers:
      - name: pre-delete-controller-cleanup
        image: {{ .Values.controller.manager.image.repository }}:{{ .Values.controller.manager.image.tag }}
        args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        - --pre-delete-hook
        - --pre-delete-hook-timeout-seconds={{ .Values.controller.manager.preDeleteHookTimeoutSeconds }}
        {{- if .Values.controller.manager.clientCache.vaultTokenRevocationRequired }}
        - --vault-token-revocation-required
        {{- end }}
        {{- if .Values.controller.manager.clientCache.persistenceModel }}
        - --client-cache-persistence-model={{ .Values.controller.manager.clientCache.persistenceModel }}
        {{- end }}
        command:
        - /vault-secrets-operator
        env:
        - name: OPERATOR_DEPLOYMENT_NAME
          value: {{ include "chart.fullname" . }}-controller-manager
      restartPolicy: Never
