function getGH() {
  local url="$1"
  local dest="$2"
  headers=(
      '--header' "Accept: application/vnd.github+json"
      '--header' "X-GitHub-Api-Version: 2022-11-28"
  )
  if [ -n "${GITHUB_TOKEN}" ]; then
      headers+=(
          '--header' "Authorization: Bearer ${GITHUB_TOKEN}"
      )
  fi
  cmd=curl
  opts=('-sfSL')
  echo "Fetching ${url}"
  if [ -z "${dest}" ]; then
    opts+=('-O')
  else
    opts+=('-o' "$dest")
  fi
  ${cmd} "${opts[@]}" "${headers[@]}" ${url}
}
