# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: vaultstaticsecrets.secrets.hashicorp.com
spec:
  group: secrets.hashicorp.com
  names:
    kind: VaultStaticSecret
    listKind: VaultStaticSecretList
    plural: vaultstaticsecrets
    singular: vaultstaticsecret
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VaultStaticSecret is the Schema for the vaultstaticsecrets API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VaultStaticSecretSpec defines the desired state of VaultStaticSecret
            properties:
              destination:
                description: Destination provides configuration necessary for syncing
                  the Vault secret to Kubernetes.
                properties:
                  annotations:
                    additionalProperties:
                      type: string
                    description: Annotations to apply to the Secret. Requires Create
                      to be set to true.
                    type: object
                  create:
                    description: Create the destination Secret. If the Secret already
                      exists no updates will be made to it.
                    type: boolean
                  labels:
                    additionalProperties:
                      type: string
                    description: Labels to apply to the Secret. Requires Create to
                      be set to true.
                    type: object
                  name:
                    description: Name of the Secret
                    type: string
                  type:
                    description: Type of Kubernetes Secret. Requires Create to be
                      set to true.. Defaults to Opaque.
                    type: string
                required:
                - name
                type: object
              hmacSecretData:
                description: HMACSecretData determines whether the Operator computes
                  the HMAC of the Secret's data. The MAC value will be stored in the
                  resource's Status.SecretMac field, and will be used for drift detection
                  and during incoming Vault secret comparison. Enabling this feature
                  is recommended to ensure that Secret's data stays consistent with
                  Vault.
                type: boolean
              mount:
                description: Mount for the secret in Vault
                type: string
              name:
                description: Name of the secret in Vault
                type: string
              namespace:
                description: Namespace to get the secret from in Vault
                type: string
              refreshAfter:
                description: RefreshAfter a period of time, in duration notation
                type: string
              type:
                description: Type of the Vault static secret
                enum:
                - kv-v1
                - kv-v2
                type: string
              vaultAuthRef:
                description: VaultAuthRef of the VaultAuth resource If no value is
                  specified the Operator will default to the `default` VaultAuth,
                  configured in its own Kubernetes namespace.
                type: string
            required:
            - destination
            - mount
            - name
            - type
            type: object
          status:
            description: VaultStaticSecretStatus defines the observed state of VaultStaticSecret
            properties:
              secretMAC:
                description: "SecretMAC used when deciding whether new Vault secret
                  data should be synced. \n The controller will compare the \"new\"
                  Vault secret data to this value using HKDF+HMAC, if they are different,
                  then the data will be synced to the Destination. \n The SecretMac
                  is also used to detect drift in the Destination Secret's Data. If
                  drift is detected the data will be synced to the Destination."
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
