# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: vaultauths.secrets.hashicorp.com
spec:
  group: secrets.hashicorp.com
  names:
    kind: VaultAuth
    listKind: VaultAuthList
    plural: vaultauths
    singular: vaultauth
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VaultAuth is the Schema for the vaultauths API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VaultAuthSpec defines the desired state of VaultAuth
            properties:
              address:
                description: Address to the Vault server -- not sure if we want to
                  support more than one?
                type: string
              allowedNamespaces:
                description: 'AllowedNamespaces, is the list of Kubernetes namespaces
                  that are allowed to be serviced. If none are provided all resources
                  requesting this Auth will fail. TODO: support globbing?'
                items:
                  type: string
                type: array
              awsAuth:
                type: object
              caCertFile:
                description: CACertFile containing the trusted PEM encoded CA certificate
                  chain.
                type: string
              childTokenName:
                description: 'ChildTokenName to used when creating a child token.
                  TODO: drop this as it probably only pertains to token auth'
                type: string
              headers:
                additionalProperties:
                  type: string
                description: Headers to be included in all Vault requests.
                type: object
              method:
                description: Method to use when authenticating to Vault.
                type: string
              mount:
                description: Mount to use when authenticating to auth method.
                type: string
              params:
                additionalProperties:
                  type: string
                description: Params to use when authenticating to Vault
                type: object
              skipChildToken:
                description: 'SkipChildToken creation. TODO: drop this as it probably
                  only pertains to token auth'
                type: boolean
              skipTLSVerify:
                description: SkipTLSVerify for TLS connections.
                type: boolean
              tlsServerName:
                description: TLSServerName to use as the SNI host for TLS connections.
                type: string
            required:
            - address
            - awsAuth
            - childTokenName
            - method
            - mount
            type: object
          status:
            description: VaultAuthStatus defines the observed state of VaultAuth
            properties:
              valid:
                description: Valid auth mechanism.
                type: boolean
            required:
            - valid
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
