# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: vaultsecrets.secrets.hashicorp.com
spec:
  group: secrets.hashicorp.com
  names:
    kind: VaultSecret
    listKind: VaultSecretList
    plural: vaultsecrets
    singular: vaultsecret
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VaultSecret is the Schema for the vaultsecrets API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VaultSecretSpec defines the desired state of VaultSecret
            properties:
              connectionName:
                description: ConnectionName references a VaultConnection in the same
                  namespace
                type: string
              dest:
                description: Dest could be some sort of k8s secret or something like
                  that ....
                type: string
              mount:
                description: Mount for the secret in Vault
                type: string
              name:
                description: Name of the secret in Vault
                type: string
              namespace:
                description: Namespace to get the secret from
                type: string
              refreshAfter:
                description: RefreshAfter a period of time, in duration notation
                type: string
              type:
                description: Secret type
                type: string
            required:
            - connectionName
            - dest
            - mount
            - name
            - type
            type: object
          status:
            description: VaultSecretStatus defines the observed state of VaultSecret
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
