name: Tests

on: [push, workflow_dispatch]

jobs:
  get-go-version:
    name: "Determine Go toolchain version"
    runs-on: ubuntu-latest
    outputs:
      go-version: ${{ steps.get-go-version.outputs.go-version }}
    steps:
      - uses: actions/checkout@v3
      - name: Determine Go version
        id: get-go-version
        run: |
          echo "Building with Go $(cat .go-version)"
          echo "go-version=$(cat .go-version)" >> $GITHUB_OUTPUT

  fmtcheck:
    runs-on: ubuntu-latest
    needs: [get-go-version]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}
      - run: |
          make check-fmt
  tf-fmtcheck:
    runs-on: ubuntu-latest
    needs: [get-go-version]
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}
      - uses: actions/checkout@v3
      - run: |
          make check-tffmt

  test:
    runs-on: ubuntu-latest
    needs: [get-go-version]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: make ci-test

  unitTest:
    runs-on: ubuntu-latest
    needs: [get-go-version]
    steps:
      - uses: actions/checkout@v3
      - uses: chrisdickinson/setup-yq@latest
        with:
          yq-version: v4.30.8
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}
      - uses: mig4/setup-bats@v1
        with:
          bats-version: 1.8.2
      - run: make unit-test

  integrationTest:
    runs-on: ubuntu-latest
    needs: [fmtcheck, test, get-go-version]
    env:
      KIND_CLUSTER_NAME: vault-secrets-operator
    strategy:
      max-parallel: 3
      fail-fast: false
      matrix:
        kind-k8s-version: [1.22.15, 1.23.13, 1.24.7, 1.25.3]
        vault-version: [1.12.3]
        # Note: The below exclude and includes are a bit awkward, but they
        # allow us to exclude the combos we don't really need. We want to test
        # the operator with the different k8s versions, and with the different
        # vault versions, but we don't care about testing all the k8s versions
        # against all the vault versions.
        # Combos to exclude:
        #   kind-k8s-version: [1.22.15, 1.23.13, 1.24.7]
        #   vault-version: [1.10.9, 1.11.6]
        exclude:
          - kind-k8s-version: 1.24.7
          - kind-k8s-version: 1.23.13
          - kind-k8s-version: 1.22.15
        include:
          - kind-k8s-version: 1.24.7
            vault-version: 1.12.3
          - kind-k8s-version: 1.23.13
            vault-version: 1.12.3
          - kind-k8s-version: 1.22.15
            vault-version: 1.12.3

    name: Integration vault:${{ matrix.vault-version }} kind ${{ matrix.kind-k8s-version }}
    steps:
      - uses: actions/checkout@v3
      - name: Create K8s Kind Cluster
        uses: helm/kind-action@v1.4.0
        with:
          version: v0.16.0
          cluster_name: ${{ env.KIND_CLUSTER_NAME }}
          config: test/integration/kind/config.yaml
          node_image: kindest/node:v${{ matrix.kind-k8s-version }}
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build operator binary and image
        run: make ci-build ci-docker-build
      - name: Load docker image in kind
        run: make load-docker-image
      #- name: OSS tests using Helm
      #  env:
      #    INTEGRATION_TESTS: true
      #    VAULT_IMAGE_TAG: ${{ matrix.vault-version }}
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  run: |
      #    make integration-test-helm SUPPRESS_TF_OUTPUT=true
      #- name: OSS tests using Kustomize
      #  env:
      #    INTEGRATION_TESTS: true
      #    VAULT_IMAGE_TAG: ${{ matrix.vault-version }}
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  run: |
      #    make integration-test SUPPRESS_TF_OUTPUT=true
      - name: ENT tests using Kustomize
        env:
          INTEGRATION_TESTS: true
          VAULT_LICENSE_CI: ${{ secrets.VAULT_LICENSE_CI }}
          VAULT_IMAGE_TAG: ${{ matrix.vault-version }}-ent
        run: |
          make integration-test-ent SUPPRESS_TF_OUTPUT=true
